*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    background-image: url('./image/bg-masthead.jpg');
    
    background-position: cover;
}
.centered-content-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    background-image: url('./image/bg-callout.jpg');
    background-size:auto;
    background-position: cover;
}
